name: scan_push 
on:
  workflow_run: 
    workflows: ["test_build"]
    types:  ["completed"]
    branches: ["main"]
  workflow_dispatch:  
permissions:
  contents: read 
  id-token: read 
concurrency:
  group: backend 
  cancel-in-progress: true 
jobs:
  integration_scan: 
    runs-on: ubuntu-latest 
    timeout-minutes: 3 
    steps:
      - name: checkout repo 
        uses: actions/checkout@v4 
        with: 
          fetch-depth: 1 
      - name: login to aws 
        uses: aws-action/configure-aws-credentials@v4 
        with: 
          role-to-assume: ${{secrets.AWS_ROLE}}
          aws-region: ${{secrets.AWS_REGION}} 
      - name: download artifact 
        run: aws s3 cp ...... . 
      - name: